@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "/Areas/Identity/Pages/_AuthLayout.cshtml";
}

		<section id="tracking" class="tracking-section pt-150">
			<div class="tracking-shape">
				<img src="~/assets/img/plan/plan-shape.svg" alt="" class="shape shape-1">
			</div>
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6 col-xl-7">
						<div class="tracking-image">
							<img height="100%" width="100%" src="/themes/pkurg-appgrids/assets/img/download/documents.png" alt="">
						</div>
					</div>
					<div class="col-lg-6 col-xl-5">
						<div class="tracking-content">
							<div class="section-title mb-50">
								<h1 class="mb-40 wow fadeInUp" data-wow-delay=".2s">Why Use IMS Pulse</h1>
								<p class="wow fadeInUp" data-wow-delay=".4s">IMS Pulse has been developed from the ground up with the help of experienced auditors, consulting engineers and security experts to be the one-stop solution to quality management of a business.</p>
							</div>
							<div class="single-plan">
								<div class="icon-style" style="background: #1c547c">
									<i class="lni lni-travel"></i>
								</div>
								<div class="content">
									<h3>Acces From Anywhere</h3>
									<p>Whether you're on the go or far away from your office, you still have access to your work from wherever you are.</p>
								</div>
							</div>
							<div class="single-plan">
								<div class="icon-style" style="background: #1c547c">
									<i class="lni lni-timer"></i>
								</div>
								<div class="content">
									<h3>100% Up-Time</h3>
									<p>Your files and projects will always be available and secure.</p>
								</div>
							</div>
							<div class="single-plan">
								<div class="icon-style" style="background: #1c547c">
									<i class="lni lni-support"></i>
								</div>
								<div class="content">
									<h3>Responsive Support</h3>
									<p>We offer immediate support during work hours every day from Monday to Friday.</p>
								</div>
							</div>
                            <div class="single-plan">
                                <div class="icon-style" style="background: #1c547c">
                                    <i class="lni lni-world-alt"></i>
                                </div>
                                <div class="content">
                                    <h3>Proudly South African</h3>
                                    <p>This product was developed and produced right in Johannesburg, Gauteng</p>
                                </div>
                            </div>
						</div>
					</div>
				</div>
			</div>
		</section>

<form id="account" method="post">
    <h2>Use a local account to log in.</h2>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-floating">
        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
        <label asp-for="Input.Email" class="form-label"></label>
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="form-floating">
        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
        <label asp-for="Input.Password" class="form-label"></label>
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div>
        <div class="checkbox">
            <label asp-for="Input.RememberMe" class="form-label">
                <input class="form-check-input" asp-for="Input.RememberMe" />
                @Html.DisplayNameFor(m => m.Input.RememberMe)
            </label>
        </div>
    </div>
    <div>
        <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
    </div>
    <div>
        <p>
            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
        </p>
        <p>
            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
        </p>
        <p>
            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
        </p>
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
