
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Document Manager</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/docmaster.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/20.2.36/fluent.css" />
    <link href="https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/LineIcons.2.0.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/assets/css/animate.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/assets/css/main.css"  asp-append-version="true"  />
    <script src="https://cdn.syncfusion.com/ej2/20.2.36/dist/ej2.min.js"></script>
</head>
<body>
    @{
        DateTime date = new DateTime();
    }
       <header class="header">
      <div class="navbar-area">

        <div class="container">

          <div class="row align-items-center">
            <div class="col-lg-12">

              <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="https://imspulse.com">
                  <img src="http://imspulse.com/storage/app/media/imscc.png" alt="Logo" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
               @* <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                     <partial name="_LoginPartial.cshtml" />
                </div>*@
                <!-- navbar collapse -->
              </nav>
              <!-- navbar -->
            </div>
          </div>
          <!-- row -->
        </div>
        <!-- container -->
      </div>
      <!-- navbar area -->
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
              <table class="footer" align="center" width="570" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="content-cell" align="center">
                        &copy; @date.Year - IMS Pulse in Partner with EC Integrated Solutions - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </td>
                </tr>
            </table>
           
        </div>
    </footer>
    <script src="~/assets/js/count-up.min.js"></script>
    <script src="~/assets/js/wow.min.js"></script>
    <script src="~/assets/js/main.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
     <ejs-scripts></ejs-scripts>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
