html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.hidden {
    display: none;
}

.nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1c547c
}

.main_dialog_holder{
    display: none;
}

myhides{
    display:none;
}