@page
@model docmaster.Areas.Identity.Pages.Account.Manage.ManagerModel
@{
         string[] files = new string[] { "Open", "|", "Details", "|", "Rename", "|", "Cut", "|", "Copy", "|", "Paste", "|", "Delete", "|", "Encrypt", "|", "Decrupt", "|", "Preview" };
    string[] folder = new string[] { "Open", "|", "Details" , "|", "Rename", "|", "|", "Cut", "|", "Copy", "|", "Paste", "|", "Delete", "|", "Encrypt", "|", "Decrupt" };
    string[] layout = new string[] { "SortBy", "View", "Refresh", "|", "Details" };
}

<div class="control-section">
    <div class="sample-container" style="padding:10px">
            <ejs-filemanager id="filemanager" allowDragAndDrop="true" Path="@path" cssClass="filemanager">   
            <e-filemanager-ajaxsettings url="/Home/FileOperations"
                                        downloadUrl="/Home/Download"
                                        uploadUrl="/Home/Upload"
                                        getImageUrl="/Home/GetImage">
            </e-filemanager-ajaxsettings>
               <e-filemanager-contextmenusettings file="files" folder="folder" layout="layout">
            </e-filemanager-contextmenusettings>
        </ejs-filemanager>
    </div>
@{ 
    public string path { get; set; } 
    public string user = "user1"; 
    protected override void OnInitialized() 
    { 
        base.OnInitialized(); 
        if (user == "user1") 
        { 
            path = "/HJ/"; 
        }
    }
} 
    <script>
        function created() {
            var filemanager = document.getElementById("file").ej2_instances[0];
            filemanager.uploadObj.dropArea = null;
        }
        document.getElementById("element").addEventListener('click', function () {
            var filemanager = document.getElementById("file").ej2_instances[0];
            var files = filemanager.getSelectedFiles();
            for (var i = 0; i < files.length; i++) {
                var path = files[i].filterPath + files[i].name;
                console.log(path);
            }
        });
    </script>
    <style>
        .e-empty-inner-content {
            display: none;
        }

          /*Style to hide the root folder from navigation pane*/ 
        .filemanager .e-treeview .e-list-item.e-level-1 > .e-text-content { 
            display: none; 
        } 
 
        /*Style to hide the root folder from breadcrumb*/ 
        .filemanager .e-address .e-address-list-item:nth-child(1) { 
            display: none; 
        } 
 
        /*Style to hide the icon from breadcrumb*/ 
        .filemanager .e-address .e-address-list-item:nth-child(2) .e-icons { 
            display: none; 
        } 
 
        /*Style to hide all other child folders except Subfolder1*/ 
        ul li:nth-of-type(1n+2) { 
            display: none; 
        } 
    </style>
</div>