@page
@model docmaster.Areas.Identity.Pages.Account.Manage.ManagerModel
@using Microsoft.AspNetCore.Identity
@using docmaster.Areas.Identity.Data
@inject SignInManager<docmasterUser> SignInManager
@inject UserManager<docmasterUser> UserManager
@{
    string[] files = new string[] { "Details", "|", "Rename", "|", "Cut",  "|", "Edit",  "|",  "Copy", "|", "Paste", "|", "Delete", "|", "Encrypt", "|", "Decrypt" };
    string[] folder = new string[] { "Open", "|", "Details" , "|", "Rename","|", "Cut", "|", "Copy", "|", "Paste", "|", "Delete", "|", "Encrypt", "|", "Decrypt" };
    string[] items = new string[] { "Edit", "NewFolder", "Refresh", "Upload", "View", "Details", "Rename", "Cut", "Copy", "Paste", "Encrypt", "Decrypt", "SortBy" };
    string[] layout = new string[] { "SortBy", "View", "Refresh", "|", "Details" };
    string myPath = null;
    var num = 0.00;

    @if (SignInManager.IsSignedIn(User))
    {   if(User.IsInRole("SuperUser"))
        {
            myPath = "";
        }
        else
        {
            myPath = "/"+ UserManager.GetUserAsync(User).Result.Company + "/";

            DirectoryInfo info = new DirectoryInfo(@"/var/www/html/imspulse/bunch-box" + myPath);
            long size = 0;
            foreach (string file in Directory.GetFiles(@"/var/www/html/imspulse/bunch-box" + myPath, "*.*", SearchOption.AllDirectories))
            {
                size += new FileInfo(file).Length;
            }
            num = Math.Round((double)size / (double)(1024 * 1024), 2);
        }

    }
    else
    {
        myPath = "";
    }



}

 @if(!User.IsInRole("SuperUser"))
{
        <div class="alert alert-warning" role="alert">
          <p>Your company has currently used @num MB of space.</p>
        </div>
}else{
     <div class="alert alert-info" role="alert">
          <p>You are the Super User. You have full access to all company documents</p>
        </div>
}
<div class="control-section">
    <div class="sample-container" id="container" style="padding:10px">
            <ejs-filemanager beforePopupClose="popUpClose" maxFileSize="233332" id="filemanager" allowDragAndDrop="true" Path="@myPath" cssClass="filemanager" toolbarClick="toolbarClick" toolbarCreate="onCreate" menuClick="menuClick" fileOpen="onFileOpen">
                <e-filemanager-navigationpanesettings></e-filemanager-navigationpanesettings>
            <e-filemanager-ajaxsettings url="/Home/FileOperations"
                                        downloadUrl="/Home/Download"
                                        uploadUrl="/Home/Upload"
                                        getImageUrl="/Home/GetImage">
            </e-filemanager-ajaxsettings>
               <e-filemanager-contextmenusettings file="files" folder="folder" layout="layout" >
            </e-filemanager-contextmenusettings>
            <e-filemanager-toolbarsettings items="@items"></e-filemanager-toolbarsettings>

            @if(!User.IsInRole("Master"))
            {
                 <e-filemanager-navigationpanesettings visible="false">
                </e-filemanager-navigationpanesettings>
            } 

        </ejs-filemanager>
         <ejs-dialog created="made" visible="false" id="default_dialog" width="500px" target="#container" showCloseIcon="true" header="Protect Your Document">
            <e-content-template>
                <div class="unpro">
                    <div class='form-group'><label for='password'>Password:</label><input type='text' value='' name="mypass" class='form-control' id='mypassword'></div>
                    <button id="encry" class="btn btn-outline-primary float-end">Protect</button>
                </div>
               
               
            </e-content-template>
      
        </ejs-dialog>
        
        <ejs-dialog created="made2" visible="false" id="default_dialog2" width="500px" target="#container" showCloseIcon="true" header="Unprotect Your Document">
            <e-content-template>
             <div class="unpro">
                <div class='form-group'><label for='password'>Password:</label><input type='text' value='' name="mypass" class='form-control' id='mypassword2'></div>
                <button id="decry" class="btn btn-outline-warning float-end">Unprotect</button>
             </div>
                  
            </e-content-template>
            
      
        </ejs-dialog>

   
    </div>
    <iframe id="my_iframe" style="display:none;"></iframe>

</div>

<div id="docedit">
    <ejs-dialog isModal="true" visible="false" id="default_dialog3" target="#docedit" style="max-width: 80%" height="700px"  overlayClick="onOverlayClick"  showCloseIcon="true" header="Edit Document">
        <e-content-template>
            @if (User.IsInRole("Admin")){
                            <ejs-button id="element" title="Save your work online."  class="btn btn-primary" content="Save Document"></ejs-button>
                            <ejs-button id="revelement" title="Add Revision field" class="btn btn-primary" content="Insert Revision Field"></ejs-button>
            }

            <ejs-documenteditorcontainer enableToolbar=false height="600px" id="doccontainer"></ejs-documenteditorcontainer>
        </e-content-template>
      
    </ejs-dialog>

</div>

<div id="spreedsheetedit">
        <ejs-dialog isModal="true" visible="false" id="default_dialog4" target="#spreedsheetedit" style="max-width: 80%" height="700px"  overlayClick="onOverlayClick"  showCloseIcon="true" header="Edit Document">
        <e-content-template>
             @if (User.IsInRole("Admin")){
                             <ejs-button id="elementsp" title="Save your work online." cssClass="btn btn-primary" content="Save Document"></ejs-button>
             }

            <ejs-spreadsheet id="spreadsheet" saveUrl="/Home/SaveExcel" allowSave=true height="600px" allowOpen ="true"></ejs-spreadsheet>
        </e-content-template>
      
        </ejs-dialog>
</div>
<div class="toast_container" style="width:400px;margin:0 auto;">
    <ejs-toast class="hidden" id="revtoast" extendedTimeout="10000" width="300" height="200">
        <e-toast-position X="Left" Y="Top"></e-toast-position>
        <e-content-template>
            <p><img alt='Revision Master' height="60px" width="60px" class='toast-img' src='https://imspulse.com/storage/app/media/favourite.png' /><span class="name"> IMS Pulse Team</span></p>
            <div class="content">
                <p>Hi! &#128512; I noticed that you made a change to this document. Do you want to qualify it as a Revision?</p>
                <button id="yesrev" class="btn btn-success">Yes</button>
                <button id="norev" class="btn btn-danger">No</button>
            </div>
        </e-content-template>
    </ejs-toast>
</div>
<div id="pdfedit">
        <ejs-dialog isModal="true" visible="false" id="default_dialog5" target="#pdfedit" style="max-width: 80%" height="700px"  overlayClick="onOverlayClick"  showCloseIcon="true" header="Edit Document">
        <e-content-template>
              @if (User.IsInRole("Admin"))
                {
                    <ejs-button id="elementpdf" title="Save your work online." class="btn btn-primary" content="Save Document"></ejs-button>
                }
            <ejs-pdfviewer id="pdfviewer"
                style="height:600px"
                serviceUrl="/Home/PdfViewer"
                enableToolbar="false">
            </ejs-pdfviewer>
        </e-content-template>
      
        </ejs-dialog>
</div>
 
<script>

    function popUpClose(args){
            alert(args.fileDetails[0].name);
        if (args.popupName == 'Rename') { 
            var arr = [].slice.call(args.popupModule.element.getElementsByTagName('input'));
            alert(arr[0].value); 
        } 
    }

    function made() {
        var dialog = document.getElementById("default_dialog").ej2_instances[0];                
              
        dialog.hide();
      
    }
    function made2(){
        var dialog = document.getElementById("default_dialog2").ej2_instances[0];                
              
        dialog.hide();
    }
    function toolbarClick(args) {
        if (args.item.text === 'Encrypt') {
            if (args.fileDetails[0].isFile) {
                var dialog = document.getElementById("default_dialog").ej2_instances[0];
                dialog.show();
                document.getElementById("encry").addEventListener('click', function() {
                    var pas2 = document.getElementById('mypassword');
                    var formData = { fullName: pas2.value, path: args.fileDetails[0].filterPath + args.fileDetails[0].name, state: "encrypt" };
                    var strJson = JSON.stringify(formData)
                    $.ajax({
                        type: 'POST',
                        url: '/Home/Protect/',
                        contentType: 'application/json', // remove this line
                        data: strJson, //remove JSON.stringify
                        success: function(result) {
                            toastObj = ejs.notifications.ToastUtility.show(result, 'Success', 2000); 
                            dialog.hide();
                        }
                    });

                });
            }
          
        }
        if (args.item.text === 'Decrypt') {
            if (args.fileDetails[0].isFile) {
                var dialog = document.getElementById("default_dialog2").ej2_instances[0];
                dialog.show();
                document.getElementById("decry").addEventListener('click', function() {
                    var pas2 = document.getElementById('mypassword2');
                    var formData = { fullName: pas2.value, path: args.fileDetails[0].filterPath + args.fileDetails[0].name, state: "decrypt" };
                    var strJson = JSON.stringify(formData)
                    $.ajax({
                        type: 'POST',
                        url: '/Home/Protect/',
                        contentType: 'application/json', // remove this line
                        data: strJson, //remove JSON.stringify
                        success: function(result) {
                            toastObj = ejs.notifications.ToastUtility.show(result, 'Success', 2000); 
                            dialog.hide();
                        }
                    });

                });
            }
         
        }

        if (args.item.text === 'Edit') {
                   
            if (args.fileDetails[0].name.includes('.doc')) {
                var fullName = "/var/www/html/imspulse/bunch-box"+ args.fileDetails[0].filterPath + args.fileDetails[0].name;
                var payload = { fullName: fullName }; // change name
                $.ajax({
                    type: 'POST',
                    url: '/Home/Demo2/',
                    // contentType: 'application/json', // remove this line
                    data: payload, //remove JSON.stringify
                    success: function (result) {
                        var documenteditorElement = document.getElementById("doccontainer");
                        container = documenteditorElement.ej2_instances[0];
                        container.documentEditor.keyDown = function (args) {
                            var keyCode = args.event.which || args.event.keyCode;

                            var isCtrlKey = (args.event.ctrlKey || args.event.metaKey) ? true : ((keyCode === 17) ? true : false);

                            var isAltKey = args.event.altKey ? args.event.altKey : ((keyCode === 18) ? true : false);

                            // 83 is the character code for 'S'
                            if (isCtrlKey && !isAltKey && keyCode === 83) {
                                //To prevent default save operation, set the isHandled property to true
                                args.isHandled = true;
                                container.documentEditor.save(args.fileDetails[0].name, 'Docx');
                                args.event.preventDefault();
                            } else if (isCtrlKey && isAltKey && keyCode === 83) {
                                container.documentEditor.save(args.fileDetails[0].name, 'Docx');
                            }
                        }
                                    
                        container.documentEditor.open(result);  
                        @{
                            if (!User.IsInRole("Admin"))
                            {
                                        <text>
                                            container.documentEditor.isReadOnly = true;
                                        </text>                               
                            }
                        }
                        var dialog = document.getElementById("default_dialog3").ej2_instances[0];                
                        dialog.show();
                   
                    }
                });
                  $("#revelement").unbind('click').bind('click', function() {
                        var documenteditorElement = document.getElementById("doccontainer");
                        container = documenteditorElement.ej2_instances[0];
                        container.documentEditor.editor.insertField('MERGEFIELD ' + 'Revision No' + ' \\* MERGEFORMAT');
                    });

                $("#element").unbind('click').bind('click', function () {

                    var documenteditorElement = document.getElementById("doccontainer");
                    container = documenteditorElement.ej2_instances[0];
                    var fullName = container.documentEditor.serialize();
                    var payload = { "fullName": fullName, "path": "/var/www/html/imspulse/bunch-box"+ args.fileDetails[0].filterPath + args.fileDetails[0].name }; // change name
                    var strJson = JSON.stringify(payload);
                    $.ajax({
                        type: 'POST',
                        url: '/Home/Demo/',              
                        contentType: 'application/json', // remove this line
                        data: strJson, //remove JSON.stringify
                        success: function (result) {                       
                            if (!result.includes('Document Successfully Saved!')) {
                                var toast = document.getElementById('revtoast').ej2_instances[0];
                                toast.show();
                                $("#yesrev").unbind('click').bind('click', function() {
                                    var dialog = document.getElementById("default_dialog3").ej2_instances[0]; 
                                    dialog.hide();
                                    var fileObj = document.getElementById("filemanager").ej2_instances[0];
                                    fileObj.renameFile();
                                    var toast = document.getElementById('revtoast').ej2_instances[0];
                                    toast.hide();
                                });
                                $("#norev").unbind('click').bind('click', function() {
                                    toastObj = ejs.notifications.ToastUtility.show(result, 'Success', 3000);
                                    var toast = document.getElementById('revtoast').ej2_instances[0];
                                    toast.hide();
                                });
                            }else{
                                   toastObj = ejs.notifications.ToastUtility.show(result, 'Success', 3000);
                            }
                        }
                    });
                });
            }

            if (args.fileDetails[0].name.includes('.xls')) {
               
                var fullName = "/var/www/html/imspulse/bunch-box"+ args.fileDetails[0].filterPath + args.fileDetails[0].name;
                var payload = { fullName: fullName }; // change name
                $.ajax({
                    type: 'POST',
                    url: '/Home/Demo2/',
                    // contentType: 'application/json', // remove this line
                    data: payload, //remove JSON.stringify
                    success: function (result) {
                        var spreadsheet = ej.base.getComponent(document.getElementById('spreadsheet'), 'spreadsheet');           
                       
                        
                        spreadsheet.openFromJson({file: result}); // open the file into Spreadsheet
                            
                        var dialog = document.getElementById("default_dialog4").ej2_instances[0];                
                        dialog.show();               
                    }
                });
                $("#elementsp").unbind('click').bind('click', function () { 
                
                    var fullName = "/var/www/html/imspulse/bunch-box"+ args.fileDetails[0].filterPath + args.fileDetails[0].name
                    var ssObj = ej.base.getComponent(document.getElementById('spreadsheet'), 'spreadsheet'); 
                    var pdfSettings = { FitSheetOnOnePage: false }; 
                    ssObj.saveAsJson().then((response) => { 
                            var formData = new FormData(); 
                            formData.append('JSONData', JSON.stringify(response.jsonObject.Workbook)); 
                            formData.append('fileName', 'Sample'); 
                            formData.append('saveType', 'Xlsx'); 
                           
                        $.ajax({ 
                            type: "POST", 
                            url: "/Home/SaveExcel", 
                            data: { JSONData: JSON.stringify(response.jsonObject.Workbook), fileName: args.fileDetails[0].name, saveType: "xlsx",  PDFLayoutSettings: JSON.stringify(pdfSettings), path: fullName }, 
                            success: function (result) { 
                                toastObj = ejs.notifications.ToastUtility.show(result, 'Success', 2000);               
                            } 
                        }) 
                    }); 
                
                }); 

            }

            if (args.fileDetails[0].name.includes('.pdf')) {
                var fullName = "/var/www/html/imspulse/bunch-box"+ args.fileDetails[0].filterPath + args.fileDetails[0].name;
                var payload = { fullName: fullName }; // change name
                $.ajax({
                    type: 'POST',
                    url: '/Home/PDFView/',
                    // contentType: 'application/json', // remove this line
                    data: payload, //remove JSON.stringify
                    success: function (result) {
                        //var pdfViewer = document.getElementById('pdfviewer').ej2_instances[0];  
                        //pdfViewer.load(result);
                        //var dialog = document.getElementById("default_dialog5").ej2_instances[0];                
                        //dialog.show();    
                        
                         toastObj = ejs.notifications.ToastUtility.show("IMS PULSE TEAM: The PDF Editor is in future plans. However, as of now, there is no editor to handle pdf manipulation", 'Warning', 3000);
                  
                        //fileObj.refresh();
                    }
                });

            }
            if (args.fileDetails[0].name.includes('.ppt')) {
                var fullName = "/var/www/html/imspulse/bunch-box" + args.fileDetails[0].filterPath + args.fileDetails[0].name;
                var payload = { fullName: fullName }; // change name
                $.ajax({
                    type: 'POST',
                    url: '/Home/PDFView/',
                    // contentType: 'application/json', // remove this line
                    data: payload, //remove JSON.stringify
                    success: function(result) {
                        //var pdfViewer = document.getElementById('pdfviewer').ej2_instances[0];  
                        //pdfViewer.load(result);
                        //var dialog = document.getElementById("default_dialog5").ej2_instances[0];                
                        //dialog.show();    

                        toastObj = ejs.notifications.ToastUtility.show("IMS PULSE TEAM: The Presentation Editor is in future plans. However, as of now, there is no editor to handle presentation manipulation", 'Warning', 3000);
                    }
                });
            }
       
        }
    }
    function menuClick(args) {
        if (args.item.text === 'Encrypt') {
            if (args.fileDetails[0].isFile) {
                var dialog = document.getElementById("default_dialog").ej2_instances[0];
                dialog.show();
                document.getElementById("encry").addEventListener('click', function() {
                    var pas2 = document.getElementById('mypassword');
                    var formData = { fullName: pas2.value, path: args.fileDetails[0].filterPath + args.fileDetails[0].name, state: "encrypt" };
                    var strJson = JSON.stringify(formData)
                    $.ajax({
                        type: 'POST',
                        url: '/Home/Protect/',
                        contentType: 'application/json', // remove this line
                        data: strJson, //remove JSON.stringify
                        success: function(result) {
                            toastObj = ejs.notifications.ToastUtility.show(result, 'Success', 2000); 
                            dialog.hide();
                        }
                    });

                });
            }
          
        }
        if (args.item.text === 'Decrypt') {
            if (args.fileDetails[0].isFile) {
                var dialog = document.getElementById("default_dialog2").ej2_instances[0];
                dialog.show();
                document.getElementById("decry").addEventListener('click', function() {
                    var pas2 = document.getElementById('mypassword2');
                    var formData = { fullName: pas2.value, path: args.fileDetails[0].filterPath + args.fileDetails[0].name, state: "decrypt" };
                    var strJson = JSON.stringify(formData)
                    $.ajax({
                        type: 'POST',
                        url: '/Home/Protect/',
                        contentType: 'application/json', // remove this line
                        data: strJson, //remove JSON.stringify
                        success: function(result) {
                            toastObj = ejs.notifications.ToastUtility.show(result, 'Success', 2000); 
                            dialog.hide();
                        }
                    });

                });
            }

             
          
        }
        if (args.item.text === 'Edit') {
            if (args.fileDetails[0].name.includes('.doc')) {
                var fullName = "/var/www/html/imspulse/bunch-box"+ args.fileDetails[0].filterPath + args.fileDetails[0].name;
                var payload = { fullName: fullName }; // change name
                $.ajax({
                    type: 'POST',
                    url: '/Home/Demo2/',
                    // contentType: 'application/json', // remove this line
                    data: payload, //remove JSON.stringify
                    success: function (result) {
                        var documenteditorElement = document.getElementById("doccontainer");
                        container = documenteditorElement.ej2_instances[0];
                        container.documentEditor.keyDown = function (args) {
                            var keyCode = args.event.which || args.event.keyCode;

                            var isCtrlKey = (args.event.ctrlKey || args.event.metaKey) ? true : ((keyCode === 17) ? true : false);

                            var isAltKey = args.event.altKey ? args.event.altKey : ((keyCode === 18) ? true : false);

                            // 83 is the character code for 'S'
                            if (isCtrlKey && !isAltKey && keyCode === 83) {
                                //To prevent default save operation, set the isHandled property to true
                                args.isHandled = true;
                                container.documentEditor.save(args.fileDetails[0].name, 'Docx');
                                args.event.preventDefault();
                            } else if (isCtrlKey && isAltKey && keyCode === 83) {
                                container.documentEditor.save(args.fileDetails[0].name, 'Docx');
                            }
                        }
                                    
                        container.documentEditor.open(result);   
                        @{
                            if (!User.IsInRole("Admin"))
                            {
                                        <text>
                                            container.documentEditor.isReadOnly = true;
                                        </text>                               
                            }
                        }
                        var dialog = document.getElementById("default_dialog3").ej2_instances[0];                
                        dialog.show();                   
                    }
                });

                $("#revelement").unbind('click').bind('click', function() {
                    var documenteditorElement = document.getElementById("doccontainer");
                    container = documenteditorElement.ej2_instances[0];
                    container.documentEditor.editor.insertField('MERGEFIELD ' + 'Revision No' + ' \\* MERGEFORMAT');
                });
                $("#element").unbind('click').bind('click', function () {

                    var documenteditorElement = document.getElementById("doccontainer");
                    container = documenteditorElement.ej2_instances[0];
                    var fullName = container.documentEditor.serialize();
                    var payload = { "fullName": fullName, "path": "/var/www/html/imspulse/bunch-box"+ args.fileDetails[0].filterPath + args.fileDetails[0].name }; // change name
                    var strJson = JSON.stringify(payload);
                    $.ajax({
                        type: 'POST',
                        url: '/Home/Demo/',              
                        contentType: 'application/json', // remove this line
                        data: strJson, //remove JSON.stringify
                        success: function (result) { 
                            if (!result.includes('Document Successfully Saved!')) {
                                var toast = document.getElementById('revtoast').ej2_instances[0];
                                toast.show();
                                   $("#yesrev").unbind('click').bind('click', function() {
                                    var dialog = document.getElementById("default_dialog3").ej2_instances[0]; 
                                    dialog.hide();
                                    var fileObj = document.getElementById("filemanager").ej2_instances[0];
                                    fileObj.renameFile();
                                    var toast = document.getElementById('revtoast').ej2_instances[0];
                                    toast.hide();
                                });
                                $("#norev").unbind('click').bind('click', function() {
                                    toastObj = ejs.notifications.ToastUtility.show(result, 'Success', 3000);
                                    var toast = document.getElementById('revtoast').ej2_instances[0];
                                    toast.hide();
                                });
                            }else{
                                toastObj = ejs.notifications.ToastUtility.show(result, 'Success', 3000);
                            }                        
                        }
                    });
                });
            }

            if (args.fileDetails[0].name.includes('.xls')) {
                var fullName = "/var/www/html/imspulse/bunch-box"+ args.fileDetails[0].filterPath + args.fileDetails[0].name;
                var payload = { fullName: fullName }; // change name
                $.ajax({
                    type: 'POST',
                    url: '/Home/Demo2/',
                    // contentType: 'application/json', // remove this line
                    data: payload, //remove JSON.stringify
                    success: function (result) {
                        var spreadsheet = ej.base.getComponent(document.getElementById('spreadsheet'), 'spreadsheet');           
                                       
                        spreadsheet.openFromJson({file: result}); // open the file into Spreadsheet
                            
                        var dialog = document.getElementById("default_dialog4").ej2_instances[0];                
                        dialog.show();               
                    }
                });

                $("#elementsp").unbind('click').bind('click', function () { 
                
                    var fullName = "/var/www/html/imspulse/bunch-box"+ args.fileDetails[0].filterPath + args.fileDetails[0].name
                    var ssObj = ej.base.getComponent(document.getElementById('spreadsheet'), 'spreadsheet'); 
                    var pdfSettings = { FitSheetOnOnePage: false }; 
                    ssObj.saveAsJson().then((response) => { 
                            var formData = new FormData(); 
                            formData.append('JSONData', JSON.stringify(response.jsonObject.Workbook)); 
                            formData.append('fileName', 'Sample'); 
                            formData.append('saveType', 'Xlsx'); 
                           
                        $.ajax({ 
                            type: "POST", 
                            url: "/Home/SaveExcel", 
                            data: { JSONData: JSON.stringify(response.jsonObject.Workbook), fileName: args.fileDetails[0].name, saveType: "xlsx",  PDFLayoutSettings: JSON.stringify(pdfSettings), path: fullName }, 
                            success: function (result) { 
                                toastObj = ejs.notifications.ToastUtility.show(result, 'Success', 2000); 
                            } 
                        }) 
                    }); 
                
                });  

            }
            if (args.fileDetails[0].name.includes('.pdf')) {
                var fullName = "/var/www/html/imspulse/bunch-box"+ args.fileDetails[0].filterPath + args.fileDetails[0].name;
                var payload = { fullName: fullName }; // change name
                $.ajax({
                    type: 'POST',
                    url: '/Home/PDFView/',
                    // contentType: 'application/json', // remove this line
                    data: payload, //remove JSON.stringify
                    success: function (result) {
                        //var pdfViewer = document.getElementById('pdfviewer').ej2_instances[0];  
                        //pdfViewer.load(result);
                        //var dialog = document.getElementById("default_dialog5").ej2_instances[0];                
                        //dialog.show();    
                        toastObj = ejs.notifications.ToastUtility.show("IMS PULSE TEAM: The PDF Editor is in future plans. However, as of now, there is no editor to handle pdf manipulation", 'Warning', 20000);                   
                    }
                });

            }
            if (args.fileDetails[0].name.includes('.ppt')) {
                var fullName = "/var/www/html/imspulse/bunch-box" + args.fileDetails[0].filterPath + args.fileDetails[0].name;
                var payload = { fullName: fullName }; // change name
                $.ajax({
                    type: 'POST',
                    url: '/Home/PDFView/',
                    // contentType: 'application/json', // remove this line
                    data: payload, //remove JSON.stringify
                    success: function(result) {
                        //var pdfViewer = document.getElementById('pdfviewer').ej2_instances[0];  
                        //pdfViewer.load(result);
                        //var dialog = document.getElementById("default_dialog5").ej2_instances[0];                
                        //dialog.show();    
                         toastObj = ejs.notifications.ToastUtility.show("IMS PULSE TEAM: The Presentation Editor is in future plans. However, as of now, there is no editor to handle presentation manipulation", 'Warning', 3000);
                    }
                });
            }
          
        }
 
    }


     function onCreate(args) {
        for (var i = 0; i < args.items.length; i++) {
            if (args.items[i].text == 'Encrypt') {
                args.items[i].prefixIcon = 'e-icons e-fe-lock';
            }
            if (args.items[i].text == 'Decrypt') {
                args.items[i].prefixIcon = 'e-icons e-fe-unlock';
            }
             if (args.items[i].text == 'Edit') {
                args.items[i].prefixIcon = 'e-icons e-fe-edit';
            }
        }

    }

    function onOverlayClick() {
       
    }

    function onFileOpen(args) {
        if (args.fileDetails.isFile) {
            if (args.fileDetails.name.includes('pdf')) {
                window.open('https://imspulse.com/bunch-box' + args.fileDetails.filterPath + args.fileDetails.name, '_blank');

            }else{
                document.getElementById('my_iframe').src = 'https://imspulse.com/bunch-box' + args.fileDetails.filterPath + args.fileDetails.name;
                alert(args.fileDetails.name + " is opened");
            }
  
        }

    }

 
    
</script>



    @if (ViewData["Message"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert('@ViewData["Message"]');
            };
        </script>
    }
    @if (ViewBag.MyMessage != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert('@ViewBag.MyMessage');
            };
        </script>
    }
    <style>       
        .e-fe-lock::before {
            content: '\e788';
        }

         .e-fe-unlock::before {
            content: '\e78b';
        }

        .e-fe-edit::before{
            content: '\e740';
        }

        .e-empty-inner-content {
            display: none;
        }

          /*Style to hide the root folder from navigation pane*/ 
        .filemanager .e-treeview .e-list-item.e-level-1 > .e-text-content { 
            display: none; 
        } 
 
        /*Style to hide the root folder from breadcrumb*/ 
        .filemanager .e-address .e-address-list-item:nth-child(1) { 
            display: none; 
        } 
 
        /*Style to hide the icon from breadcrumb*/ 
        .filemanager .e-address .e-address-list-item:nth-child(2) .e-icons { 
            display: none; 
        } 
        .filemanager .e-grid .e-content .e-rowcell .e-fe-text {

            background: #1C547C;
            color: white;

        }
        .filemanager .e-large-icons .e-list-text {
            background: #1C547C;
            color: white;

        }

        .filemanager .e-addressbar-ul li:nth-child(1){
            display: none;
        }

        .e-dropdown-popup.e-submenu ul .e-item:nth-child(1) {
            display: none;
        }

        #filemanager_toolbar{
            background: #1C547C;
            color: white
        }
        #default_dialog3 {
            height: 100%;
            width: 100%;
      
            padding: 0px;
            margin: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            top: 0px;
            z-index: 0
        }
        #mypassword{
             -webkit-text-security: disc;
        }
        #mypassword2{
             -webkit-text-security: disc;
        }
       
    </style>
       @if (!User.IsInRole("Master")){
           <style>
                ul.e-list-parent.e-ul .e-level-2 { 
                display: none; 
            } 
           </style>         
        }
